*.gem
*.rbc
.byebug_history
.idea
.ruby-gemset
.ruby-version
/.bundle/
/.config
/.yardoc
/.yardoc/
/_yardoc/
/coverage/
/doc/
/InstalledFiles
/lib/bundler/man/
/pkg/
/rdoc/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
